/* Start Global Style */
html, body {
    background-color: #eee;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3d405c;
    margin: 0px 0px 15px 0px;
    font-family: 'Circular Std Medium';
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
    line-height: 26px;
}

h5 {
    font-size: 15px;
    line-height: 26px;
}

h6 {
    font-size: 12px;
}

.global-h1 {
  padding: 22px;
  font-weight: bolder;
}

.text-center {
    text-align: center
}

.asterisk {
    font-size: 30px;
    position: absolute;
    right: 22px;
    top: -7px;
    color: #d20707;
}

.offset-3 {
    margin-left: 28% !important;
}

/* End Global Style */

/* Start Login Form */

.login .form-content {
  background-color:#fff;
  padding: 22px;
  border-radius: 6px;
  width: 300px;
  margin: 100px auto;
}

.login .form-content h4 {
    color: #444;
    margin-bottom: 24px;
}

.login .form-content input {
    margin-bottom: 10px;
}

.login .form-content .form-control {
    background-color: #eeeeee87;
}



/* End Login Form */


/* start navbar*/
.navbar {
    border-radius: 0 !important;
    margin-bottom: 0;
}

.nav > li > a,
.navbar-brand
 {
    padding: 15px 12px
}

.navbar-brand {
    font-size : 1em;
}

.navbar-brand > img {
  height: 32px;
  width: 150px;
  margin-top: -5px;
}

.dropdown-menu {
    min-width: 151px;
    padding: 3px;
    font-size: 1em;
    border: none;
    border-radius: 0;
    margin-top: 17px;
    top: 41px;
}

.navbar-dropdown {
  position: absolute;
  right: 135px;
}

.nav-link .avatar {
  height: 41px;
  width: 50px;
  border-radius: 52px;
  margin-top: -9px;
  margin-right: 5px;
}

.dropdown-menu > li > a  {
    color : #fff;
    padding: 10px 15px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {

    background-color: #8e44ad;
    color: #FFF;
}

.form-control {
    position: relative;
}

.nice_alert {
    background-color: #FFF;
    padding: 10px;
    border-left: 7px solid #34C3FF;
    margin: 10px 0;
    border-radius: 5px
}

.global_h2 {
    padding: 18px 0;
    margin-left: 205px;
    font-weight: revert;
}
/*

Notes:-

1- if i not put style to links special bootstrap,  all links will took styles from 'body'
2- any styles i am put in body, all properties will run in bootstrap.



*/


/* End navbar*/


/* Start Dashboard Page */

.home-stats .stat {
    padding: 20px;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden

}

.home-stats .page-heading {
  font-size: 30px;
  margin: 22px 0px;
  text-align: left;
  font-weight: bold;
}

.home-stats .stat a {
    color: #FFF;
}

.home-stats .stat .dash_i {
    position: absolute;
    font-size: 80px !important;
    top: 35px;
    left: 30px
}

.home-stats .stat .info {
    float: right;
    font-weight: bold;
}

.home-stats .stat a:hover {
    text-decoration: none;
}

.home-stats .stat span {
    display: block;
    font-size: 60px
}

.home-stats .st-members {
    background-color: #3498db;
}

.home-stats .st-pending {
    background-color: #c0392b;
}

.home-stats .st-items {
    background-color: #d35400;
}

.home-stats .categories-count {
    background-color: #8e44ad;
}

.home-stats .categories-count::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00a";
  position: absolute;
  font-size: 80px !important;
  top: 35px;
  left: 30px
}

.first-block {
  margin: 52px 0px;
}

.first-block .chart-one {
  background-color:#fff;
  border-radius: 6px;
  min-height: 309px;
}

.first-block .panel-card {
  background-color:#fff;
  border-radius: 6px;
}

.first-block .panel-card .panel-heading {
  text-align: left;
  background-color:#F9F9FF;
  padding: 13px;
  border-radius: 6px;
  font-weight: bold;
}

.first-block .panel-card .panel-heading span {
  float: right;
}

#area-chart,
#pie-chart{
  min-height: 250px;
}

.second-block {
  margin: 18px 0;
}

.second-block .second-chart {
  background-color:#fff;
  border-radius: 6px;
  min-height: 359px;
  line-height: 3;
}

.latest {
    margin-top: 57px;

}

.latest .toggle-info {
    color: #999;
    cursor: pointer
}

.latest .toggle-info:hover {
    color: #444;
}

.latest .panel-heading {
  font-size: 23px;
  font-weight: bold;
}

.latest .panel .panel-body {
  background-color:#fff;
  margin-top: 13px;
  border-radius: 10px;
}


.latest .comment-box {
    margin : 5px 0 10px
}

.latest .comment-box .member-n
.latest .comment-box .member-c{
    float: left;
    cursor: pointer;
}

.latest .comment-box {
        position: relative;
}

.latest .comment-box .member-n {
    margin-top: 20px;
    text-align: center;
    width: 80px;
    position: relative;
    top: 5px;
    background-color: #3c2b2b;
    color: #fff;
    border-radius: 8px;
    padding: 4px;
    text-transform: capitalize;
}

.latest .comment-box .member-c {
    width: calc(100% - 100px);
    background-color: #453f3f;
    color: #f5f5f5;
    padding: 10px;
    position: relative;
    top: 10px;
    border-radius: 6px
}

.latest .comment-box .member-c:before {
    content: "";
    display: block;
    position: absolute;
    left: -30px;
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #776e6e transparent transparent;
    border-width: 15px;
}
/* End Dashboard Page */




/* Start Members Page */
.show-pass {
    position: absolute;
    top: 6px;
    right: -30px;
    color: #fff
}


.main-table {
    -webkit-box-shadow : 0 3px 10px #ccc;
    -moz-box-shadow : 0 3px 10px #ccc;
    box-shadow : 0 3px 10px #ccc;
}
.main-table td {
    background-color: #fff;
    vertical-align: middle !important;

}

.main-table tr:first-child td {
    background-color: #333;
    color: #fff;

}

.main-table .btn {
    padding: 3px 10px;
    margin: 3px;
    width: 100%
}

.a_activate {
    margin-top: 5px;
    width: 152px;
    overflow: hidden;
    border-radius: 18px;
}

.activate {
    margin-left: 5px;
}

.comment-box .approve {
    margin-left: 5px;
    position: absolute;
    top: 38px;
    right: -4px;
    padding: 6px 10px;
    border-radius: 16px;
}

.comment-box .edit {
    position: absolute;
    top: 37px;
    right: 107px;
    border-radius: 15px;
    opacity: 1
}

.comment-box .delete {
    position: absolute;
     top: 37px;
    right: 181px;
    border-radius: 15px;
}

.js-hide {
    display: none
}
/* End Members Page */


/* Start categories Page */

.categories .cat h3 {
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    color: #6A6A6A
}

.categories .panel-heading {
    color: #959595;
    font-weight: bold
}

.categories .panel-heading i {
    position: relative;
    top: 1px;
}
.categories .panel-body {
     padding: 0
}

.categories .cat .full-view p {
    margin: 10px 0;
    color: #707070
}
.categories .cat:last-of-type ~ hr {

    display: none;
}

.categories .option a {
    color: #888;
    text-decoration: none
}

.categories .option span {
    color: #888;
    cursor: pointer
}
.categories .option .active {
    color: #F00;
    font-weight: bold;
}

.categories .cat {
    position: relative;
    padding: 15px;
    overflow: hidden;
}

.categories .cat:hover {
    background-color: #888;
    border-radius: 10px;
    opacity: 1;
}

.categories .cat:hover .hidden-buttons {
    right: 10px;
}


.categories .cat .hidden-buttons {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
    position: absolute;
    top: 15px;
    right: -177px;
}

.categories .cat .hidden-buttons a {
    margin-right: 5px;
}

.categories .cat .concat {
    color: #fff;
    padding: 4px 6px;
    margin-right: 19px;
    border-radius: 6px

}
.categories .cat .visbility { background-color: #d35400; }

.categories .cat .Allow_Comment { background-color: #2c3e50; }

.categories .cat .allow_advertise { background-color: #c0392b; }

.categories .add_category {
    margin-bottom: 30px;
    margin-top: -10px
}


.categories .child-cat {
    margin: 10px 0 10px 40px;
}

.categories .child-head {
    margin: 10px 0 10px 40px;
    font-weight: bold;
    color: #22ab79
}

.categories .child-cat li {
    margin-left: 15px 0 10px;
}

.categories .child-cat li:before {
    content: "- ";

}

.categories .show_remove {
    color: #f00;
    display: none;
}
/* End Members Page */

.manage_member img {
    width: 50px;
    height: 50px
}

/* Start Footer */
footer {

}
.copywrite-area {
  position: absolute;
  z-index: 1;
  padding: 20px 0;
  background-color: #0a0a0a;
  margin-top: 34px;
  width: 100%
}

.copywrite-area svg {
  color: green
}

.copywrite-area .copywrite-text p {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
    color: #fff;
}

/* End Footer */
